body {
    padding-top: 56px;
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff; /* Set text color to white for better visibility */
    background-color: #f8f9fa;
}


.container h1 {
    font-family: 'Georgia', serif;
    color: white;
    text-align: center;
}
.navbar-brand, .nav-link {
    color: black !important;
    justify-content: flex-end;
}

.container {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background to container */
    padding: 20px;
    border-radius: 8px;
}

h1, p, label, .form-control {
    color: #fff; /* Ensure all text elements inside the container are white */
}
.h2, h2 {
    font-size: 2rem;
    color: white;

}

.table {
    margin-top: 20px;
    background-color: #fff; /* Keep table background white */
    color: #000; /* Set table text color to black */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    position: relative;
    top:20px;

}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
